* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color-dark: #121214;
  --bg-color-light: #ffff;
  --text-color-dark: #ffff;
  --text-color-light: #000000;

  --base-color: 194;
  --bg-primary-light: hsla(var(--base-color), 100%, 63%, 0.13);
  --primary-color: hsl(var(--base-color), 100%, 63%);
}

body {
  background-color: var(--bg-color-dark);
  /* background-color: var(--bg-color-light); */
  /* background: linear-gradient(344deg, rgba(40,40,55,1) 0%, rgba(16,16,18,1) 50%); */
  /* color: var(--text-color-light); */
  color: var(--text-color-dark);

  font-family: "Roboto", sans-serif;

  display: grid;
  min-height: 100vh;
}

button {
  background: transparent;
  border: none;

  cursor: pointer;
}

.hide {
  display: none;
}

.play svg path,
.pause svg path,
.sound-on svg path {
  fill: var(--primary-color);
}

header {
  position: relative;
}

header button {
  position: absolute;
  right: 0px;
  padding: 2rem 3.125rem 0 0;
}

@media only screen and (max-width: 768px) {
  header button {
    position: absolute;
    right: 0;
    padding: 2.5rem 2rem 0 0;
  }
}

button svg {
  width: clamp(2rem, 1.25rem + 12vw, 4rem);
}

main {
  align-self: end;
  justify-self: center;
}

#timer {
  font-size: clamp(2.5rem, 2.5rem + 12vw, 5rem);

  display: flex;
  gap: 10px;
  margin-bottom: 1rem;
}

#controls {
  background-color: var(--bg-primary-light);

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;

  border-radius: 9999px;

  width: clamp(6.25rem, 6.25rem + 30vw, 14.25rem);
  height: clamp(5rem, 3.125rem + 10vw, 6.75rem);
}

footer {
  align-self: end;
  justify-self: end;

  padding: 0 2.5rem 2rem 0;
}

#loom-companion-mv3 {
  display: none;
}

#my-app-container {
  display: none;
}
